/*
COLOR PALETTE
https://coolors.co/7fb285-0b0033-cbc0ad-ed6b86-361d2e
#7FB285 - dark sea green
#211745 - russian violet
#E2DFF5 - lavender mist
#ED6B86 - wild watermelon
#361D2E - dark purple
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #131516;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}

/* unvisited link */
a:link {
  color: #FFE254; /* I changed the shade but stuck with yellow because it contrasts nicely with the background color in the header. I could have also just put #E2DFF5 here and defined the header link color in yellow.  */
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Josefin Sans', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #211745;
  color: #E2DFF5;
}


/* Projects
------------------------------------*/
.projects {
  background: #7FB285;
}
.projects a {
  color: #E2DFF5;
}
.projects .btn {
  color: #E2DFF5;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #ED6B86;
}
.work-experience a {
  color: #E2DFF5;
}



/* Education
------------------------------------*/
.education {
  background-image: url(../images/post-its-three-colors.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
  background: #361D2E;
  color: #E2DFF5;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 5px;
  display: inline-block;
    color: #E2DFF5;
}
